button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
}
button:hover{
    background-color: #ccc;
}
#timer{
    font-size: 60px;
    text-align: center;
}